body {
    font-family: Arial, sans-serif;
    background-color: #4bf3f668;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    max-width: 650px;
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #d7fa9f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin: 0;
    animation: highlight 2s ease-in-out infinite;
    z-index: 1000; /* Ensure it stays on top of other elements */
}

/* Highlighting Animation */
@keyframes highlight {
    0% { background-color: #bbf3ca; }
    50% { background-color: #cdc038; }
    100% { background-color: #2bc936; }
}


h1 {
    color: #2c3e50;
}

.question {
    margin: 20px 0;
}

.options {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.options label {
    display: flex;
    align-items: center;
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.options input[type="radio"] {
    margin-right: 10px;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: #2980b9;
}
